<div nz-row [nzGutter]="16" >
  <div nz-col [nzXs]="24" [nzLg]="8">
    <nz-card nzTitle="Kalendarz">
      <nz-calendar
        [nzFullscreen]="false"
        [nzDisabledDate]="disablePastDates"
        (nzSelectChange)="onValueChange($event)"
        (nzPanelChange)="onPanelChange($event)"
      ></nz-calendar>
    </nz-card>
  </div>
  <div nz-col [nzXs]="24" [nzLg]="16">
    <nz-card nzTitle="Lista dostępnych miejsc">
      <nz-table #basicTable [nzData]="dataSet">
      <thead>
      <tr>
        <th>Numer miejsca</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.number }}</td>
        <td>{{ isParkingSpotFree(data) ? 'Wolne' : 'Zajęte' }}</td>
        <td>
          <button nz-button [disabled]="!isParkingSpotFree(data)" [nzType]="'primary'" (click)="onReservation(data.id)">
        <span>
          Zarezerwuj
        </span>
          </button>
          <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
            <ng-container *nzModalContent>
              <p>Content one</p>
              <p>Content two</p>
              <p>Content three</p>
            </ng-container>
          </nz-modal>
        </td>
      </tr>
      </tbody>
    </nz-table>
    </nz-card>
  </div>
</div>


