<div nz-row [nzGutter]="16" >
  <div nz-col [nzXs]="24" [nzLg]="16">
    <nz-card nzTitle="Lista dostępnych miejsc">
      <nz-table [nzFrontPagination]="false" #basicTable [nzData]="parkingSpots">
      <thead>
      <tr>
        <th>Numer miejsca</th>
        <th>Status</th>
        <th>Zarezerwowane przez</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let parkingSpot of basicTable.data">
        <td>{{ parkingSpot.number }}</td>
        <td>
          @if (isParkingSpotFree(parkingSpot)) {
            <nz-tag [nzColor]="'green'">Wolne</nz-tag>
          } @else {
            <nz-tag [nzColor]="'red'">Zajęte</nz-tag>
          }
        </td>
        <td>
          <span *ngIf="!isParkingSpotFree(parkingSpot)">{{ getReservationOwner(parkingSpot) }}</span>
        </td>
        <td>
          <button nz-button nzShape="round" [nzType]="'primary'" (click)="createReservationModal(parkingSpot.id)">
            <span>Zarezerwuj</span>
          </button>
          <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
            <ng-container *nzModalContent>
              <p>Content one</p>
              <p>Content two</p>
              <p>Content three</p>
            </ng-container>
          </nz-modal>
        </td>
      </tr>
      </tbody>
    </nz-table>
    </nz-card>
  </div>
</div>

<ng-template #modalContent>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXs]="12">
      <p>Podaj imie i nazwisko</p>
      <input nz-input placeholder="Imie i nazwisko" [(ngModel)]="reservationOwner">
    </div>
    <div nz-col [nzXs]="12">
      <img class="img-responsive" src="/supra.webp" alt="">
    </div>
  </div>
</ng-template>

