<nz-layout>
  <nz-header class="header">
    <div class="content">
      <div class="logo">
        <img src="https://www.syzygy.pl/app/uploads/website-logo.svg" alt="">
      </div>
      <ul nz-menu nzTheme="light" nzMode="horizontal" data-test-id="app-title">
        <li nz-menu-item>Miejsca parkingowe</li>
      </ul>
    </div>
  </nz-header>
  <div class="color-header-top">
    <nz-breadcrumb>
      <nz-breadcrumb-item>SYZYGY</nz-breadcrumb-item>
      <nz-breadcrumb-item>Lista miejsc parkingowych</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="actions" data-test-id="app-headline">
      <p>Zarezerwuj miejsce parkingowe już dziś i uzyskaj turkusowy spokój parkowania!</p>
    </div>
  </div>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer data-test-id="app-footer">SYZYGY Warsaw ©2024 Undefined Team</nz-footer>
</nz-layout>