<nz-layout>
  <nz-header class="header">
    <div class="content">
      <div class="logo">
        <img src="https://www.syzygy.pl/app/uploads/website-logo.svg" alt="">
      </div>
      <ul nz-menu nzTheme="light" nzMode="horizontal">
        <li nz-menu-item>Miejsca parkingowe</li>
      </ul>
    </div>
    <div class="content">
      <div class="user-information">
        <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        <div class="user-details">
          <div class="user-name">Natalia Miesiac</div>
        </div>
        <div class="user-actions">
          <button nzSize="small" nz-button nzType="primary" nzDanger nzShape="circle">
            <span nz-icon nzType="poweroff" nzTheme="outline"></span>
          </button>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>SYZYGY</nz-breadcrumb-item>
      <nz-breadcrumb-item>Lista miejsc parkingowych</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <pre>{{ spots | json }}</pre>
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>SYZYGY Warshaw ©2024 Undefined Team</nz-footer>
</nz-layout>