<button nz-button nzType="primary" (click)="showModal()">
  <span>Show Modal</span>
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Lokalny uzytkownik"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <ng-container *nzModalContent>
    <form [formGroup]="userForm" nz-form class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="userName" type="text" nz-input placeholder="Imie i nazwisko" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input formControlName="userName" type="email" nz-input placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>

</nz-modal>